header{
    height: 100px;
    background-color:burlywood;
    margin: 0;
}

ul{
    
    display: flex;
    align-items:center;
    background-color: rgb(4, 246, 254) ;
    margin: 0;
    height: 70px;
}

ul li{
    list-style: none;
    margin-left: 190px;
    margin-top: 27px;
}

p{
    background-color: rgb(230, 74, 126);
    text-align: left;
    margin: 0;
    height: 400px;
    font-size: 20px;
    
}
.para{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}